:root {
  --blue-background-color: #008cba;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
  height: 12vh;
  max-height: 12vh;
}

/* Start Left Section */

.leftSection {
  width: 33.33vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSection > section {
  margin: 15px;
}

.phoneNumberLeftSection {
  display: flex;
  align-items: center;
}

.phoneNumberLeftSection > * {
  display: inline;
  margin: 0.5vw;
}

.phoneIcon {
  user-select: none;
}

.signUpButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
  user-select: none;
}

.signUpButton:hover {
  background-color: #45a049;
}

.logInButton {
  background-color: var(--blue-background-color);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
  user-select: none;
}

.logInButton:hover {
  background-color: #0073e6;
}

/* Finish Left Section */

/* Start Center Section */

.centerSection {
  display: flex;
  justify-content: center;
  width: 33.33vw;
  user-select: none;
}

/* Finish Center Section */

/* Start Right Section */

.rightSection {
  width: 33.33vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightSection > section {
  margin: 15px;
}

.search {
  width: 15vw;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.315);
  border-radius: 50px;
  font-size: 16px;
  background-color: white;
  background-image: url("../svg/searchIcon.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: border-color 0.3s, box-shadow 0.3s;
  user-select: none;
}

.search:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
  border: 2px solid var(--blue-background-color);
  border-radius: 50px;
}

#showDropDownButton {
  position: relative;
  padding: 8px 16px;
  color: #333;
  background-color: #ffffff;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid rgba(0, 0, 0, 0.315);
  font-size: 0.85rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#showDropDownButton:hover {
  color: #ffffff;
  background-color: var(--blue-background-color);
  border-color: #0073e6;
}

#showDropDownButton.active {
  color: #fff;
  background-color: #0069d9;
}

.dropdown {
  position: absolute;
  top: 38px;
  left: -1px;
  border: 1px solid rgb(197, 197, 197);
  background: #fff;
  padding: 0;
  color: #0062cc;
  text-align: left;
  border-radius: 0.25rem;
}

.dropdown > p {
  margin: 0;
  padding: 0.375rem 0.88rem;
  border-bottom: 1px solid rgb(235, 235, 235);
  min-width: 140px;
}

.dropdown > p:hover {
  color: #fff;
  background-color: #0062cc;
}

.dropdown > p:last-child {
  border-bottom: 0 none;
}

/* Finish Right Section */
