:root {
  --blue: #008cba;
}

.MainWrapper {
  height: 76vh;
  max-height: 76vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.categoriesTitle {
  color: var(--blue);
  margin-top: 1.5vh;
}
