:root {
  --background-color: #000000;
  --text-color: #ffffff;
  --button-background: #000000;
  --button-text: #ffffff;
  --button-border: #ffffff;
}

.darkTheme {
  background-color: var(--background-color);
  color: var(--text-color);
}

.button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: 2px solid var(--button-border);
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #222222;
}
